// blobal css

/* scrollbar */
body {
    scrollbar-arrow-color: #eee; /*上下按钮上三角箭头的颜色*/
    scrollbar-face-color: #CBCBCB; /*滚动条凸出部分的颜色*/
    scrollbar-3dlight-color: blue; /*滚动条亮边的颜色*/
    scrollbar-highlight-color: #333; /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: yellow; /*滚动条阴影的颜色*/
    scrollbar-darkshadow-color: green; /*滚动条强阴影的颜色*/
    scrollbar-track-color: #eee; /*滚动条背景颜色*/
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {  /* 滚动条整体部分 */
    width:5px;
    margin-right:2px
}

::-webkit-scrollbar:horizontal {
    height:5px;
    margin-bottom:2px;
}

/*内层轨道，滚动条中间部分 */
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    background: rgba(203, 203, 203, .6);
}

/* 边角 */
::-webkit-scrollbar-corner {
    width: 10px;
    background-color: #eee;
}

/* 鼠标移入滑块 */
::-webkit-scrollbar-thumb:hover {
    background: #909090;
}

/* Codemirror's linenumber */
.CodeMirror-gutters {
    z-index: 0;
}
// .CodeMirror-gutter-wrapper {
//     z-index: 2;
// }
.CodeMirror-sizer{
  z-index: 1;
}

.toolbar--fixed {
    z-index: 999;
}